// Define variables for your color scheme

// For example:
$red: #FF006C;
$blue: #0B409C;
$yellow: #FDB631;
$orange: #EA9215;
$green: #8FECC8;
$gray: #3E4058;
$intermediate-gray: rgba(0, 0, 0, 0.3);
$light-gray: #F6F6F6;
$dark-blue: #213458;
$shadow-color: rgba(0, 0, 0, 0.6);
